{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
    {% for chart in charts %}
    <div class="card">   
        <h1 class="card-title">{{chart.currency}}_{{chart.interval}}</h1>
        <div class="chart-div">
            <div class="chart" id="{{chart.currency}}_{{chart.interval}}" name="{{chart.currency}}_{{chart.interval}}">      
            </div>       
        </div>
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>  
    </div>
</div>
{% endblock %}